@media (max-width: 1210px) {
  .header__menu {
    display: block;
    text-align: center;
  }
  .header__buttons {
    margin: auto;
    margin-top: 15px;
  }
}
@media (max-width: 1290px) {
  .header__icon {
    margin-left: 900px;
  }
}

@media (max-width: 1170px) {
  .wrapper1::after {
    display: none;
  }
  .Cross__flex {
    display: block;
  }
  .Cross__img {
    text-align: center;
    margin-bottom: 50px;
  }
  .Cross__content {
    text-align: center;
  }
  .Cross__text-about {
    max-width: 500px;
    margin: auto;
  }
  .Cross__list {
    max-width: 500px;
    margin: auto;
  }
  .our-customers__main-flex {
    display: block;
    text-align: center;
  }
  .our-customers__buttons {
    display: block;
  }
  .our-customers__button {
    margin: auto;
    display: inline-block;
  }
  .our-customers__new-button {
    margin: auto;
    margin-bottom: 80px;
  }
  .masher__background {
    top: 3780px;
  }
  .header__icon {
    margin-left: 800px;
  }
  .masher__img {
    max-width: 300px;
  }
}
@media (max-width: 900px) {
  .rewiews__comments {
    flex-direction: column;
    gap: 34px;
  }
  .rewiews__comment {
    margin: auto;
  }
}
@media (max-width: 865px) {
  .header__icon {
    margin-left: 700px;
  }
  .Cross__content {
    margin-left: 0;
  }
  .masher__background {
    font-size: 100px;
  }
}
@media (max-width: 817px) {
  .header__icon {
    margin-left: 400px;
  }
  .masher__background {
    top: 3880px;
  }
  .Cross__text {
    font-size: 15px;
  }
}
@media (max-width: 745px) {
  .masher__background {
    top: 3980px;
  }
}
@media (max-width: 705px) {
  .masher__background {
    top: 4080px;
  }
}
@media (max-width: 655px) {
  .masher__img {
    display: none;
  }
}
@media (max-width: 640px) {
  .masher__background {
    top: 4180px;
  }
  .header__title {
    font-weight: 700;
    font-size: 70px;
  }
  .header__title--pink::after {
    width: 200px;
  }
}
@media (max-width: 544px) {
  .masher__background {
    top: 4280px;
  }
}
@media (max-width: 520px) {
  .our-customers__img {
    max-width: 400px;
  }
  .masher__background {
    display: none;
  }
}
@media (max-width: 505px) {
  .Cross__div-img {
    max-width: 400px;
  }
  .masher__content {
    text-align: center;
  }
  .masher__button {
    margin: auto;
  }
  .masher__content {
    padding-top: 0;
  }
}
@media (max-width: 460px) {
  .header__title {
    font-weight: 700;
    font-size: 50px;
  }
  .header__title--pink::after {
    display: none;
  }
  .header__icon {
    margin-left: 200px;
    margin-top: 100px;
  }
  .header__over-text--1 {
    font-size: 40px;
  }
  .header__over-text--2 {
    font-size: 40px;
  }
  .Cross__title {
    font-size: 30px;
  }
  .our-customers__title--one {
    font-size: 40px;
  }
  .our-customers__title--two {
    font-size: 40px;
  }
  .start__button {
    margin-bottom: 0;
  }
}
@media (max-width: 390px) {
  .header__content::after {
    display: none;
  }
  .Cross__img {
    display: none;
  }
  .our-customers__img {
    display: none;
  }
}
@media (max-width: 380px) {
  .Cross__li {
    display: block;
  }
  .header__logo {
    margin-bottom: 40px;
  }
  .header__buttons {
    flex-direction: column;
    gap: 40px;
  }
  .rewiews__comment {
    display: block;
  }
}
