* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.wrapper1 {
  max-width: 1200px;
  margin: auto;
  position: relative;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
}
.header__buttons {
  width: 100%;
  max-width: 341px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__button {
  text-decoration: none;
  color: white;
  background-color: #24232c;
  font-size: 14px;
  line-height: 22px;
  padding: 19px 30px;
  border-radius: 30px;
}
.header__button--number {
  padding: 0;
  background-color: white;
  color: rgb(0, 0, 0);
  font-size: 16px;
  line-height: 22px;
}
.header__content {
  text-align: center;
  position: relative;
}
.header__content--grid {
  width: 100%;
  height: 100%;
  background-image: url(header-section/g5047.svg);
  border-radius: 400px;
  padding-top: 160px;
}
.header__title {
  font-weight: 800;
  font-size: 80px;
  line-height: 110px;
  color: black;
}
.header__title--pink {
  color: #dd5954;
  position: relative;
}
.header__title--pink::after {
  content: "";
  display: block;
  width: 248px;
  height: 5px;
  background-color: #f5cdcb;
  position: absolute;
  left: 0;
  bottom: 20px;
}
.header__text {
  font-weight: 400;
  font-size: 25px;
  line-height: 36px;
  color: #56606d;
  margin-bottom: 30px;
}
.header__content-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: white;
  text-decoration: none;
  background-color: #dd5954;
  padding: 19px 32px;
  border-radius: 30px;
}
.header__button-text {
  margin-right: 6px;
}
.header__icon {
  margin-top: 130px;
  margin-left: 1020px;
}
.header__over-text--1 {
  color: #657482;
  font-weight: 600;
  font-size: 54px;
  line-height: 52px;
  margin-top: 100px;
}
.header__over-text--2 {
  color: #000000;
  font-weight: 600;
  font-size: 54px;
  line-height: 52px;
}
.wrapper1::after {
  content: " ";
  display: block;
  width: 412.5px;
  height: 689.5px;
  background-image: url(header-section/Ellipse\ 4.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 800px;
  z-index: -1;
}
.header__content::after {
  content: " ";
  display: block;
  width: 252.5px;
  height: 266px;
  background-image: url(header-section/Ellipse\ 5.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 100px;
  top: -5px;
  z-index: -1;
}

/*sction-Cross*/

.wrapper2 {
  max-width: 1200px;
  margin: auto;
}
.Cross__flex {
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
  align-items: center;
}
.Cross__content {
  margin-left: 124px;
}
.Cross__text {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #727986;
  margin-top: 30px;
}
.Cross__title {
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 20px;
}
.Cross__text-about {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #727986;
  margin-bottom: 40px;
}
.Cross__li {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.Cross__li-content {
  margin-left: 20px;
}
.Cross__li-title {
  font-weight: 600;
  font-size: 26px;
  line-height: 26px;
  margin-bottom: 10px;
}
.Cross__li-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #727986;
}

/*our-customers-section*/

.our-customers__main-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
  padding-bottom: 100px;
}
.our-customers__buttons {
  display: flex;
}
.our-customers__button {
  text-decoration: none;
  display: block;
  background-color: #dd5954;
  color: #ffffff;
  width: 112px;
  text-align: center;
  padding: 14px 0;
  border-radius: 4px;
  font-weight: 500;
}
.our-customers__button--pink {
  background-color: #dd595426;
  color: #dd5954;
}
.our-customers__title--one {
  color: #657482;
  font-weight: 700;
  font-size: 54px;
  line-height: 52px;
  margin-top: 30px;
}
.our-customers__title--two {
  color: #000000;
  font-weight: 700;
  font-size: 54px;
  line-height: 52px;
  margin-bottom: 30px;
}
.our-customers__text {
  font-size: 20px;
  font-weight: 400;
  color: #727986;
  margin-bottom: 20px;
}
.our-customers__new-button {
  text-decoration: none;
  display: block;
  color: #dd5954;
  fill: #dd5954;
  font-weight: 500;
  font-size: 16px;
  width: 100px;
}

/*masher-section*/

.masher__main-flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.masher__content {
  max-width: 390px;
  padding-top: 100px;
  position: relative;
  text-align: right;
  margin-bottom: 190px;
}
.masher__background {
  font-weight: 900;
  font-size: 150px;
  line-height: 150px;
  color: #dd595412;
  text-transform: uppercase;
  z-index: 0;
  user-select: none;
  text-align: center;
  position: absolute;
  top: 2860px;
  left: 50%;
  transform: translate(-50%, 0);
}
.masher__title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 0.1em;
  color: #000000;
  margin-bottom: 24px;
}
.masher__text {
  font-weight: 300;
  font-size: 19px;
  color: #626167;
  margin-bottom: 40px;
}
.masher__text--pink {
  color: #dd5954;
}
.masher__button {
  background: linear-gradient(90deg, #ff9765 0%, #dd5954 100%);
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  display: block;
  width: 160px;
  margin-left: 230px;
  text-align: center;
  text-decoration: none;
  padding: 19px 0;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #ffffff;
}

/* rewiewes */

.rewiewes__icon {
  margin-top: 150px;
  margin-bottom: 22.34px;
}
.rewiewes__title {
  font-weight: 800;
  font-size: 40px;
  line-height: 52px;
  color: #657482;
}
.rewiewes__title--black {
  color: #000000;
}
.rewiews__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
  color: #6a7d95;
  font-family: "Noto Sans Tagbanwa";
  margin-left: 15px;
}
.rewiewes__content {
  text-align: center;
}
.rewiews__comments {
  margin: auto;
  margin-top: 64px;
  margin-bottom: 150px;
  display: flex;
  gap: 64px;
}
.rewiews__comment {
  display: flex;
  gap: 10px;
  opacity: 0.7;
  max-width: 186px;
  border-radius: 26px;
  padding: 8px;
  cursor: pointer;
}
.rewiews__comment:hover {
  border-radius: 28px;
  opacity: 100;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}
.rewiews__comment-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.rewiews__comment-name {
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
.rewiews__comment-work {
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #768498;
}

/* start-section */

.start__title {
  font-weight: 700;
  font-size: 54px;
  line-height: 52px;
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
}
.start__button {
  text-decoration: none;
  background-color: #dd5954;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  display: block;
  width: 249px;
  padding: 19px 0;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin: auto;
  margin-bottom: 60px;
}
.start__icon {
  margin-left: 6px;
}
.start__background-img {
  max-width: 914px;
  height: 420px;
  margin: auto;
  background-image: url(start-section/image\ 4.svg);
}
